.detailes .data-holder .container {
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  /*padding: 15px;*/
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  position: relative;
}

.detailes .data-holder .container .row {
  margin: 0;
}

.detailes .to-map {
  text-transform: uppercase;
  font-size: 10px;
}

.detailes .submit-message {
  background-color: #008036 !important;
  height: 35px !important;
  width: 300px !important;
  float: right !important;
  border: 0 !important;
  border-radius: 5px !important;
  color: white !important;
  font-weight: bold !important;
}

.detailes .submit-message:hover {
  background-color: #00B036 !important;
}

.detailes .detailes-main-container {
  border: 1px solid #dbdbdb;
  background-color: white;
  padding: 10px 50px;
}

.detailes h3 {
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 15px !important;
}

.detailes h5 {
  font-size: 16px;
  font-weight: bold;
  /*margin-left: 15px;*/
  text-transform: uppercase;

}

.detailes a {
  color: #039be5;
  margin-top: 0;
}

.detailes p {
  margin: 0;
  margin-left: 0 !important;
}

.detailes .about-us {
  padding: 0;
  margin-top: 25px !important;
}

.detailes .about-us ul {
  margin-bottom: 25px;
}

.detailes table tbody tr :last-child {
  text-align: right;
  font-weight: 500;
  color: #333339;
}

.detailes table tbody tr :first-child {
  text-transform: uppercase;
  color: #757575;
}

.detailes table tbody tr td {
  padding: 10px 5px;
  font-size: 14px;
}

.detailes .data-holder .img-holder {
  /*height: 375px;
  width: 445px;*/
}

.detailes .data-holder .img {
  background-image: url("../img/traxtar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 335px;*/
  width: 100%;
}

.detailes .data-holder button {
  background-color: white;
  height: 40px;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404040;
}

.detailes .tab-wrapper .tabs .tab {
  /*width: 25% !important;*/
  height: 45px;
}

.detailes .tab-wrapper .tabs .tab a {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404040;
  border-radius: 3px;

}

#prosmotrov {
  position: absolute;
  bottom: 12px;
  right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #515151;
}

.data-holder .indicator {
  display: none;
}

.detailes .tab-wrapper .tabs .tab a:hover {
  color: white;
  background-color: #008036;
}

.detailes .tab-wrapper .tabs {
  display: flex;
  margin: 0;
  margin-left: 0;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #e5e5e5;
        border-bottom: 2px solid #008036;
}

.detailes .about-us {
  margin-top: 15px;
}

.detailes .tab-wrapper {

    /*background-color: #e5e5e5 !important;*/
    /*border-radius: 3px;*/
      /*border-bottom: 2px solid #008036;*/
      /*height: 45px;*/
      /*z-index: 100;*/
  margin-top: 15px;
}

.detailes .tab-wrapper .tabs .tab {
  width: 25%;
}

.detailes .tab-wrapper .tabs .tab a.active {
  color: white;
  background-color: #008036;
}

.detailes .tab-wrapper .tabs .indicator {
  background-color: #3bae6c;
}

#desc1 .about-us {
  border: 0 !important;
}

#desc2, #desc3 {
  padding-top: 15px;
  padding-bottom: 50px;
}

#desc2 .row {
  width: 100%;
}

#desc3 iframe {
  border: 0;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#desc4 {
  margin-top: 25px !important;
}

.detailes .comment {
  border: 1px solid #dbdbdb;
  padding: 3px 15px;
  margin-top: 18px;
}

.detailes .comment h6 {
  font-weight: bolder;
}

.detailes .submmit-comment {
  width: 25% !important;
  border: 0 !important;
  color: white !important;
  background-color: #008036 !important;
  margin-left: 75%;
}

.detailes .img-holder {
  margin-bottom: 15px !important;
}

.detailes button {
  font-size: 14px;
}

.detailes button .photos-number {
  color: white;
  background-color: #008036;
  border-radius: 100%;
  font-size: 14px;
  padding: 2px 4px;
}


@media only screen and (min-width: 0) {
  .detailes .data-holder .img {
    height: 230px;
  }
}

@media only screen and (min-width: 992px) {
  .detailes .data-holder .img {
    height: 270px;
  }
}

@media only screen and (min-width: 1200px) {
  .detailes .data-holder .img {
    height: 300px;
  }
}
