.header {
  background-color: white;
  min-height: 92px;
}

@media only screen and (min-width: 1200px) {
  .header .container {
    min-width: 1280px;
  }

  .header .container .row {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .burger {
    display: block !important;
  }

  .top-nav {
    display: none !important;
  }

  .header .phone-wrapper {
    display: none;
  }

  .header .logo-container {
    width: 33% !important;
  }

  .header .lang {
    margin-left: 33% !important;
    width: 33% !important;
  }
}

@media only screen and (min-width: 1025px) {
  .burger {
    display: none !important;
  }

  .top-nav {
    display: block !important;
  }
}

@media only screen and (max-width: 1200px) {
  .header .container {
    min-width: 100%;
  }

  .header .container .row {
    margin-left: 0px;
    width: 100%;
  }
}


.header .nav-wrapper {
  display: flex;
}

.header .nav-wrapper .row {
  margin-bottom: 0;
  width: 100%;
}

.header .logo-container {
  height: 92px;
  margin: auto;
  width: 160px;
}

.header .brand-logo {
  display: block;
    margin: auto;
    width: 160px;
}

.header .brand-logo .logo {
  margin-top: -32px;
  height: 145px;
}

.header .phone-wrapper {
  color: #404040;
  padding-top: 15px;
  width: 160px;
  margin: auto;
}

.header .phone-wrapper-mobile {
  color: #404040;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.header .phone-wrapper-mobile p {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.header .phone-wrapper p {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

.header .lang-wrapper {
  /*width: 70px;*/
  text-align: center;
  padding-top: 35px;
  line-height: normal;
  margin: auto;
}

.header .indicator {
  display: none !important;
}

.header .lang-wrapper a {
  color: #404040;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
}

.header .lang-wrapper a:hover {
  text-decoration: underline;
}

.header .lang-wrapper .active {
  font-weight: bold;
}

.header .tab-wrapper {
  padding-top: 20px;
  margin-bottom: 15px;
}

.header .tab-wrapper .tabs .tab a {
  margin-top: 2px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: lighter;
  text-transform: none;
  color: #404040;
  text-overflow: none;
  padding: 0;
}

.header .tab-wrapper .tabs .tab a:hover {
  border-top: 2px solid #3bae6c;
  margin-top: 0;
  color: #3bae6c;
}

.header .tab-wrapper .tabs .tab a.active {
  border-top: 2px solid #3bae6c;
  margin-top: 0;
  color: #3bae6c;
}

.header .tab-wrapper .tabs .indicator {
  background-color: #3bae6c;
}

.side-nav a:hover {
  color: #3bae6c;
}

.side-nav a {
  text-align: center;
  font-size: 24px !important;
  font-weight: normal !important;
}

.mobile-navigation-holder {
  padding-top: 25px;
  padding-bottom: 100px;
  position: relative;
  min-height: 100vh;
}

.side-nav a.active {
  color: #3bae6c;
}
